@{
    ViewBag.Title = "Home Page";
}


<div ng-controller="ListDataController">
    <h1>Total todos: {{ GetTotalTodos() }}</h1>
    <ul class="unstyled">
        <li ng-repeat="todo in todos">{{ todo.ItemText }}
            <input type="checkbox" ng-model="todo.done"> <span class="completed-{{todo.done}}">{{todo.task}}</span> <span class="glyphicon glyphicon-trash" ng-click="RemoveTask($index)"></span>
        </li>
    </ul>
    <form class="form-horizontal">
        <input ng-model="newTaskText">
        <button class="btn" ng-click="AddTodo()"><i class="icon-plus"></i>Add</button>
    </form>
</div>
<div ng-controller="ListDataController">
    <h2>{{  }}</h2>
</div>

@section scripts{
    <script src="~/Scripts/ListDataController.js"></script>
}