@{
    ViewBag.Title = "To-do List";
}

<head>
    <!--<link rel="stylesheet" type="text/css" href="~/Content/ball.css" />-->
    <link rel="stylesheet" type="text/css" href="~/Content/bubbles.css" />
</head>
<div ng-controller="ToDoListController">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Total todos: {{ GetTotalTodos() }}</h1>
                <ul class="unstyled">
                    <li ng-repeat="todo in todos">
                        <span class="completed-{{todo.ItemDone}}">{{todo.ItemText}}</span> <input type="checkbox" ng-change="UpdateTodoDone($index)" ng-model="todo.ItemDone"> <span class="glyphicon glyphicon-trash" ng-click="RemoveTask({{todo.Id}})"></span>
                    </li>
                </ul>
                <form class="form-horizontal">
                    <p>New task: </p>
                    <input ng-model="newTaskText">
                    <button class="btn" ng-click="AddTodo()"><span class="glyphicon glyphicon-plus"></span> Add</button><br />
                    <p>Importance: </p>
                </form>
            </div>
            <div class="col-md-4">                
                <div class="bubble_wrap">
                    <div ng-repeat="todo in todos" class="bubbles b{{ RandomizeBubbles(todo.Id) }} completed-{{todo.ItemDone}}">{{todo.ItemText}}</div>
                </div>
                <div class="spacer">
                    <input type="range" min="5" max="90" step="5" ng-model="reminderTime" /><p>{{reminderTime}} minutes</p>
                    <button class="btn" ng-click="StartTimer(reminderTime)"><span class="glyphicon glyphicon-time" /> Add Reminder</button>
                    <button class="btn" ng-click="StopTimer()"><span class="glyphicon glyphicon-remove" /> Remove Reminder</button>
                </div>
            </div>
        </div>
    </div>
</div>
